<div style="display: contents;">
    <div id="wrap-bodys">
        <div id="home-page">
            <div id="section-banner">
                <div class="container-center">
                    <div class="container">
                        <div class="show-banner_left default">
                            <div class="start-show_banner">
                                <ul class="start-show_banner-lists-item"
                                    style="width: 1000%; transition: all 0ms ease 0s; transform: translateX(0) translateX(0);">

                                </ul>
                            </div>
                            <div class="section-dots silder-dots">
                                <div class="section-dot silder-dot"></div>
                                <div class="section-dot silder-dot"></div>
                                <div class="section-dot silder-dot"></div>
                                <div class="section-dot silder-dot"></div>
                                <div class="section-dot silder-dot"></div>
                            </div>
                            <div class="item-more-left smooth size-btn_smooth silder-next">
                                <i class="fa-solid fa-chevron-right item-smooth" style="color: #ffffff;"></i>
                            </div>
                            <div class="item-more-right smooth size-btn_smooth silder-pre">
                                <i class="fa-solid fa-chevron-right fa-rotate-180 item-smooth"
                                    style="color: #ffffff;"></i>
                            </div>
                        </div>
                        <div class="show-banner_right">
                            <a href="" class="link-avatar">
                                <div class="avatar-banner_right">
                                    <img src="/wrapperImage/img/banner-right1.png" alt="" style="object-fit: cover;">
                                </div>
                            </a>
                            <a href="" class="link-avatar">
                                <div class="avatar-banner_right">
                                    <img src="/wrapperImage/img/banner-right2.png" alt="" style="object-fit: cover;">
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="bottom-container">
                        <a href="">
                            <div class="desc-bottom_container">
                                <div class="wrap-logo_bottom size-logo">
                                    <div class="logo-bottom default">
                                        <div class="logo"
                                            style="background-image: url(/wrapperImage/img/voucherxtraBottom.png);">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-desc_bottom color-text">Voucher Giảm Đến
                                    500.000Đ</div>
                            </div>
                        </a>
                        <a href="">
                            <div class="desc-bottom_container">
                                <div class="wrap-logo_bottom size-logo">
                                    <div class="logo-bottom default">
                                        <div class="logo"
                                            style="background-image: url(/wrapperImage/img/freeshipxtraBottom.png);">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-desc_bottom color-text">Miễn Phí Ship
                                    - Có Shopee</div>
                            </div>
                        </a>
                        <a href="">
                            <div class="desc-bottom_container">
                                <div class="wrap-logo_bottom size-logo">
                                    <div class="logo-bottom default">
                                        <div class="logo"
                                            style="background-image: url(/wrapperImage/img/shoppereBottom.png);"></div>
                                    </div>
                                </div>
                                <div class="text-desc_bottom color-text">Shopee
                                    Siêu Rẻ</div>
                            </div>
                        </a>
                        <a href="">
                            <div class="desc-bottom_container">
                                <div class="wrap-logo_bottom size-logo">
                                    <div class="logo-bottom default">
                                        <div class="logo"
                                            style="background-image: url(/wrapperImage/img/vndBottom.png);"></div>
                                    </div>
                                </div>
                                <div class="text-desc_bottom color-text">Mã Giảm Giá</div>
                            </div>
                        </a>
                        <a href="">
                            <div class="desc-bottom_container">
                                <div class="wrap-logo_bottom size-logo">
                                    <div class="logo-bottom default">
                                        <div class="logo"
                                            style="background-image: url(/wrapperImage/img/vn-50009109-852300c407c5e79bf5dc1854aa0cfeef_xhdpi.png);">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-desc_bottom color-text">Hàng Hiệu Outlet Giảm 50%</div>
                            </div>
                        </a>
                        <a href="">
                            <div class="desc-bottom_container">
                                <div class="wrap-logo_bottom size-logo">
                                    <div class="logo-bottom default">
                                        <div class="logo"
                                            style="background-image: url(/wrapperImage/img/hàng\ quốc\ tế.png);"></div>
                                    </div>
                                </div>
                                <div class="text-desc_bottom color-text">Hàng Quốc Tế</div>
                            </div>
                        </a>
                        <a href="">
                            <div class="desc-bottom_container">
                                <div class="wrap-logo_bottom size-logo">
                                    <div class="logo-bottom default">
                                        <div class="logo"
                                            style="background-image: url(/wrapperImage/img/nạptheBottom.png);"></div>
                                    </div>
                                </div>
                                <div class="text-desc_bottom color-text">Nạp Thẻ, Dịch Vụ
                                    & Học Phí</div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <div id="main" class="container-center" style="opacity: 1;">
                <div class="section-main">
                    <div id="category">
                        <div class="home-category">
                            <div class="home-category_header shoppee-header_section-header">
                                <div class="shoppe-header_section-title--header desc-title_left">
                                    Danh Mục
                                </div>
                            </div>
                            <div class="home-category_content">
                                <div class="imgae-content default">
                                    <div class="imgae-content_lists-item">
                                        <ul class="lists-item default"
                                            style="width: 135%; transition: all 500ms ease 0s;">
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/thời\ trang\ nam.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Thời Trang Nam
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/điện\ thoại.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Điện Thoại & Phụ Kiện
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/thiết\ bị\ điện\ tử.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Thiết Bị Điện Tử
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/laptop.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Máy Tính & Laptop
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/máy\ ảnh.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Máy Ảnh & Máy Quay Phim
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/đồng\ hồ.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Đồng Hồ
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/giày\ dép\ nam.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Giày Dép Nam
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/thiết\ bị\ da\ dụng.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Thiết Bị Điện Gia Dụng
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/thể\ thao.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Thể Thao & Du Lịch
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/ô\ tô\ xe\ máy.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Ô Tô & Xe Máy & Xe Đạp
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/thời\ trang\ nữ.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Thời Trang Nữ
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/mẹ\ bé.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Mẹ & Bé
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/nhà\ cửa.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Nhà Cửa & Đời Sống
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/sắc\ đẹp.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Sắc Đẹp
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/sức\ khỏe.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Sức Khỏe
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/giày\ dép\ nữ.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Giày Dép Nữ
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/túi\ ví\ nữ.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Túi Ví Nữ
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/phụ\ kiện.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Phụ Kiện & Trang Sức Nữ
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/bách\ hóa\ online.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Bách Hóa Online
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/nhà\ sách\ online.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Nhà Sách Online
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/ba\ lo.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Balo & Túi Ví Nam
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/đồ\ chơi.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Đồ Chơi
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/chăm\ sóc\ thú\ cưng.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Chăm Sóc Thú Cưng
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/dụng\ cụ.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Dụng cụ và thiết bị tiện ích
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/thời\ trang\ trẻ\ em.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Thời Trang Trẻ Em
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/giặt\ giữ.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Giặt Giũ & Chăm Sóc Nhà Cửa
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="imgae-item" style="padding: 0; width: 5%;">
                                                <a href="" class="home-category-item">
                                                    <div class="wrap-home_item">
                                                        <div class="avatar-home_item">
                                                            <div class="avatar-home_item-item default">
                                                                <div class="logo-home_item-item"
                                                                    style="background-image: url(/wrapperImage/img/voucher.png);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-home_item">
                                                            <div class="desc-text">
                                                                Voucher & Dịch Vụ
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>



                                        </ul>
                                    </div>
                                    <div class="arrow-category-prev arrow-content arrow-prev arrow-next_hint"
                                        style="opacity: 1; visibility: hidden; transform: translateX(calc(-50% + 0px));">
                                        <i class="fa-solid fa-chevron-left icon-arrow_next"></i>
                                    </div>
                                    <div class="arrow-category-next arrow-content arrow-next arrow-next_hint"
                                        style="opacity: 1; visibility: visible; transform: translateX(calc(50% + 0px));">
                                        <i class="fa-solid fa-chevron-right icon-arrow_next"></i>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="flash-sale" style="display: contents;">
                        <div class="flash-sale">
                            <div class="wrap-flase_sale shoppee-header_section-header">
                                <div class="wrap-header">
                                    <div class="title-header"></div>
                                    <div class="coutdown-shoppe coutdown-time">
                                        <div class="coutdown-time_number">0</div>
                                        <div class="coutdown-time_number">0</div>
                                        <div class="coutdown-time_number-colon" style="opacity: 0;">
                                            <div class="colon-dot_wrapper">
                                                <div class="colon-dot"></div>
                                            </div>
                                            <div class="colon-dot_wrapper">
                                                <div class="colon-dot"></div>
                                            </div>
                                        </div>
                                        <div class="coutdown-time_number">0</div>
                                        <div class="coutdown-time_number">0</div>
                                        <div class="coutdown-time_number-colon" style="opacity: 0;">
                                            <div class="colon-dot_wrapper">
                                                <div class="colon-dot"></div>
                                            </div>
                                            <div class="colon-dot_wrapper">
                                                <div class="colon-dot"></div>
                                            </div>
                                        </div>
                                        <div class="coutdown-time_number">0</div>
                                        <div class="coutdown-time_number">0</div>
                                    </div>
                                </div>
                                <a href="" class="shoppe-btn_section--more">
                                    Xem tất cả
                                    <i class="fa-solid fa-chevron-right shoppe-icon_section--more"></i>
                                </a>
                            </div>
                            <div class="content-flase_sale">
                                <div class="imgae-item_list--wrap">
                                    <ul class="lists-imgae default lists-content"
                                        style="width: 266.667%; transition: all 500ms ease 0s; transform: translate(0px, 0px);">


                                    </ul>
                                </div>
                                <div class="arrow-flasesale-prev arrow-content arrow-prev arrow-next_hint"
                                    style="opacity: 1; visibility: hidden; transform: translateX(calc(-50% + 0px));">
                                    <i class="fa-solid fa-chevron-left icon-arrow_next"></i>
                                </div>
                                <div class="arrow-flasesale-next arrow-content arrow-next arrow-next_hint"
                                    style="opacity: 1; visibility: visible; transform: translateX(calc(50% + 0px));">
                                    <i class="fa-solid fa-chevron-right icon-arrow_next"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 20px; height: 110px;">
                        <div id="voucher" style="padding-top: 9.16667%;">
                            <ul class="lists-voucher">
                                <li>
                                    <div class="wrap-voucher">
                                        <img src="/wrapperImage/img/banner-voucher.png" alt="" class="image-voucher">
                                        <div class="click-voucher">
                                            <a href="" class="click-section" style="flex-grow: 33.333;">Banner</a>
                                            <a href="" class="click-section" style="flex-grow: 33.333;">Banner</a>
                                            <a href="" class="click-section" style="flex-grow: 33.333;">Banner</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>

                    <div id="brand-sale">
                        <div class="wrap-brand_sale">
                            <div class="home-brand_sale shoppee-header_section-header">
                                <div class="title_header">
                                    <a href="" class="title">Shopee Mall</a>
                                    <div class="desc-header">
                                        <div class="title-desc">
                                            <img src="/wrapperImage/img/hoàn trả.png" alt="" class="icon-desc">
                                            7 ngày miễn phí trả hàng
                                        </div>
                                        <div class="title-desc">
                                            <img src="/wrapperImage/img/kiểm duyệt.png" alt="" class="icon-desc">
                                            Hàng chính hãng 100%
                                        </div>
                                        <div class="title-desc">
                                            <img src="/wrapperImage/img/giao hàng.png" alt="" class="icon-desc">
                                            Miễn phí vận chuyển
                                        </div>
                                    </div>
                                </div>
                                <button class="header-more">
                                    <a href="" class="header-more_link">
                                        <div class="text-link">
                                            Xem tất cả
                                            <div class="text-link_icon">
                                                <i class="fa-solid fa-chevron-right "></i>
                                            </div>
                                        </div>
                                    </a>
                                </button>
                            </div>
                            <div class="body-home_brand">
                                <div class="section-time_brand">
                                    <div style="width: 100%;">
                                        <div class="section-baner default">
                                            <div class="wrap-list_item default" style="padding-top: 118.947%">
                                                <ul class="home-brand_list--item"
                                                    style="width: 800%; position: absolute; transform: translateX(0) translateX(0); transition: transform 500ms ease 0s;">

                                                </ul>
                                                <div class="section-dots silder-dots">
                                                    <div class="section-dot banner-dot"></div>
                                                    <div class="section-dot banner-dot"></div>
                                                    <div class="section-dot banner-dot"></div>
                                                    <div class="section-dot banner-dot"></div>
                                                    <div class="section-dot banner-dot"></div>
                                                    <div class="section-dot banner-dot"></div>
                                                </div>
                                                <div class="item-more-left smooth size-btn_smooth banner-next">
                                                    <i class="fa-solid fa-chevron-right item-smooth"
                                                        style="color: #ffffff;"></i>
                                                </div>
                                                <div class="item-more-right smooth size-btn_smooth banner-pre">
                                                    <i class="fa-solid fa-chevron-right fa-rotate-180 item-smooth"
                                                        style="color: #ffffff;"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-content_brand">
                                    <div class="content-brand_image default">
                                        <div class="wrapper-image_content">
                                            <ul class="lists-item_image--content default"
                                                style="width: 200%; transform: translateX(0px); transition: all 500ms ease 0s;">

                                            </ul>
                                            <div class="arrow-content arrow-prev arrow-next_hint arrow-shoppemall-prev"
                                                style="opacity: 1; visibility: hidden; transform: translateX(calc(-50% + 0px));">
                                                <i class="fa-solid fa-chevron-left icon-arrow_next"></i>
                                            </div>
                                            <div class="arrow-content arrow-next arrow-next_hint arrow-shoppemall-next"
                                                style="opacity: 1; visibility: visible; transform: translateX(calc(50% + 0px));">
                                                <i class="fa-solid fa-chevron-right icon-arrow_next"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: contents;">
                        <div tabindex="0">
                            <div class="search-top">
                                <div class="wrapper-desc_seacrch--top shoppee-header_section-header">
                                    <div class="desc-title_left shoppe-header_section-title--header">
                                        <span class="title-left">Tìm kiếm hàng đầu</span>
                                    </div>
                                    <a href="" class="shoppe-btn_section--more">
                                        Xem tất cả
                                        <i class="fa-solid fa-chevron-right shoppe-icon_section--more"></i>
                                    </a>
                                </div>
                                <div class="wrapper-image_seacrch--top">
                                    <div class="all-image_search default">
                                        <div class="arrow-content arrow-prev arrow-next_hint btn-search-prev"
                                            style="opacity: 1; visibility: hidden; transform: translateX(calc(-50% + 0px));">
                                            <i class="fa-solid fa-chevron-left icon-arrow_next"></i>
                                        </div>
                                        <div class="all-image_seacrch-lists--item">
                                            <ul class="image-seacrch_lists--item default"
                                                style="transform: translateX(0px); transition: transform 500ms ease-in .3s ;">


                                            </ul>
                                        </div>
                                        <div class="arrow-content arrow-next arrow-next_hint btn-search-next"
                                            style="opacity: 1; visibility: visible; transform: translateX(calc(50% + 0px));">
                                            <i class="fa-solid fa-chevron-right icon-arrow_next"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section-product-wrapper default">
                        <div style=" display: contents;">
                            <div style="display: contents;">
                                <div class="wrapper-container_product">
                                    <nav class="header-wrapper" style="top: 118px;">
                                        <ul class="header-tabs">
                                            <li class="header-tab stardust-header_tab">
                                                <div class="boder-bottom_header active-boder-bottom_header"></div>
                                                <div class="header-tab_text--wrapper">
                                                    <span>Gợi ý hôm nay</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </nav>
                                    <div class="wrapper-panels_product">
                                        <section class="wrapper-panels_product_panel">
                                            <div class="wrapper-content_desc">
                                                {{#each products}}
                                                <div class="content-desc_product">
                                                    <div class="shoppe-product" style="display: contents;">
                                                        <div class="default">
                                                            <div class="group-border_shoppe">
                                                                <div class="wrapper-product">
                                                                    <a href="/products/{{this.title}}">
                                                                        <div class="flex-col">
                                                                            <div class="shoppe-itemcard_image flex-shrink"
                                                                                style="flex-shrink: 0;">
                                                                                <div class="content-image"
                                                                                    style="display: contents;">
                                                                                    <img src="{{this.image}}" alt=""
                                                                                        class="w-full  absolute">
                                                                                </div>
                                                                                <div
                                                                                    class="flex-image default w-full pt-full">
                                                                                    <div
                                                                                        class="w-full h-full iteam-card_product">
                                                                                        <img src="{{this.utilities}}"
                                                                                            alt=""
                                                                                            class="w-full utilities">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="voucher-discount">
                                                                                    <span>{{this.discount}}</span>
                                                                                </div>
                                                                                <div
                                                                                    class="content-image_flag--cotainer">
                                                                                    <div
                                                                                        class="image_flag--container-wrapper">
                                                                                        <div class="image-flag"
                                                                                            style="background-image: url(/'{{this.flag}}'); width: 24px; height: 18px; background-size: cover;">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="shoppe-itemcard_info">
                                                                                <div class="wrapper-name_product mb-4">
                                                                                    <div class="name-product hidden">
                                                                                        {{this.title}}</div>
                                                                                </div>
                                                                                <div class="mb-4"
                                                                                    style="min-height: 16px;">
                                                                                    {{#if this.voucher}}
                                                                                    <div class="promotion-label">
                                                                                        <div
                                                                                            class="promotion-label_promotion-wrapper">
                                                                                            <div class="desc-promotion default"
                                                                                                style=" color: rgb(246, 145, 19);">
                                                                                                <div class="title-promotion default"
                                                                                                    style="color: #ffffff; background-color: rgb(246, 145, 19);">
                                                                                                    {{this.voucher}}
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    {{/if}}
                                                                                </div>
                                                                                <div class="mb-4"
                                                                                    style="min-height: 20px;">
                                                                                    <div
                                                                                        class="price-product_wrapper w-full ">
                                                                                        <div class="price-product">
                                                                                            <div class="price">
                                                                                                <span
                                                                                                    class="text-VND">₫</span>
                                                                                                <span class="text-base"
                                                                                                    style="line-height: 20px;">{{this.price}}</span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="quanlity-sell">
                                                                                            <span
                                                                                                class="quanlity-product">Đã
                                                                                                bán 5,9k</span>
                                                                                        </div>
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {{/each}}

                                                <div class="btn-more_product">
                                                    <a href=""
                                                        class="btn-product btn-light btn-pd btn-inline btn-m default">Xem
                                                        thêm</a>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="shoppe-chat-mini-box" style="position: fixed; z-index: 99999; right: 10px; bottom: 0;">
    <div class="mini-msg background-msg default mini-chat">
        <div class="content-mini_msg">
            <i class="icon-mini_msg properties-msg color-msg">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="chat-icon">
                    <path
                        d="M18 6.07a1 1 0 01.993.883L19 7.07v10.365a1 1 0 01-1.64.768l-1.6-1.333H6.42a1 1 0 01-.98-.8l-.016-.117-.149-1.783h9.292a1.8 1.8 0 001.776-1.508l.018-.154.494-6.438H18zm-2.78-4.5a1 1 0 011 1l-.003.077-.746 9.7a1 1 0 01-.997.923H4.24l-1.6 1.333a1 1 0 01-.5.222l-.14.01a1 1 0 01-.993-.883L1 13.835V2.57a1 1 0 011-1h13.22zm-4.638 5.082c-.223.222-.53.397-.903.526A4.61 4.61 0 018.2 7.42a4.61 4.61 0 01-1.48-.242c-.372-.129-.68-.304-.902-.526a.45.45 0 00-.636.636c.329.33.753.571 1.246.74A5.448 5.448 0 008.2 8.32c.51 0 1.126-.068 1.772-.291.493-.17.917-.412 1.246-.74a.45.45 0 00-.636-.637z">
                    </path>
                </svg>
            </i>
            <i class="color-msg properties-msg size-msg">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 22" class="chat-icon">
                    <path
                        d="M9.286 6.001c1.161 0 2.276.365 3.164 1.033.092.064.137.107.252.194.09.085.158.064.203 0 .046-.043.182-.194.251-.26.182-.17.433-.43.752-.752a.445.445 0 00.159-.323c0-.172-.092-.3-.227-.365A7.517 7.517 0 009.286 4C5.278 4 2 7.077 2 10.885s3.256 6.885 7.286 6.885a7.49 7.49 0 004.508-1.484l.022-.043a.411.411 0 00.046-.71v-.022a25.083 25.083 0 00-.957-.946.156.156 0 00-.227 0c-.933.796-2.117 1.205-3.392 1.205-2.846 0-5.169-2.196-5.169-4.885C4.117 8.195 6.417 6 9.286 6zm32.27 9.998h-.736c-.69 0-1.247-.54-1.247-1.209v-3.715h1.96a.44.44 0 00.445-.433V9.347h-2.45V7.035c-.021-.043-.066-.065-.111-.043l-1.603.583a.423.423 0 00-.29.41v1.362h-1.781v1.295c0 .238.2.433.445.433h1.337v4.19c0 1.382 1.158 2.505 2.583 2.505H42v-1.339a.44.44 0 00-.445-.432zm-21.901-6.62c-.739 0-1.41.172-2.013.496V4.43a.44.44 0 00-.446-.43h-1.788v13.77h2.234v-4.303c0-1.076.895-1.936 2.013-1.936 1.117 0 2.01.86 2.01 1.936v4.239h2.234v-4.561l-.021-.043c-.202-2.088-2.012-3.723-4.223-3.723zm10.054 6.785c-1.475 0-2.681-1.12-2.681-2.525 0-1.383 1.206-2.524 2.681-2.524 1.476 0 2.682 1.12 2.682 2.524 0 1.405-1.206 2.525-2.682 2.525zm2.884-6.224v.603a4.786 4.786 0 00-2.985-1.035c-2.533 0-4.591 1.897-4.591 4.246 0 2.35 2.058 4.246 4.59 4.246 1.131 0 2.194-.388 2.986-1.035v.604c0 .237.203.431.453.431h1.356V9.508h-1.356c-.25 0-.453.173-.453.432z">
                    </path>
                </svg>
            </i>
        </div>
    </div>
    <div class="wrrapper-chat_box default shoppe-chat_box">
        <div class="chat-box_header">
            <div class="text-header">
                <i class="properties-msg color-msg size-msg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 22" class="chat-icon">
                        <path
                            d="M9.286 6.001c1.161 0 2.276.365 3.164 1.033.092.064.137.107.252.194.09.085.158.064.203 0 .046-.043.182-.194.251-.26.182-.17.433-.43.752-.752a.445.445 0 00.159-.323c0-.172-.092-.3-.227-.365A7.517 7.517 0 009.286 4C5.278 4 2 7.077 2 10.885s3.256 6.885 7.286 6.885a7.49 7.49 0 004.508-1.484l.022-.043a.411.411 0 00.046-.71v-.022a25.083 25.083 0 00-.957-.946.156.156 0 00-.227 0c-.933.796-2.117 1.205-3.392 1.205-2.846 0-5.169-2.196-5.169-4.885C4.117 8.195 6.417 6 9.286 6zm32.27 9.998h-.736c-.69 0-1.247-.54-1.247-1.209v-3.715h1.96a.44.44 0 00.445-.433V9.347h-2.45V7.035c-.021-.043-.066-.065-.111-.043l-1.603.583a.423.423 0 00-.29.41v1.362h-1.781v1.295c0 .238.2.433.445.433h1.337v4.19c0 1.382 1.158 2.505 2.583 2.505H42v-1.339a.44.44 0 00-.445-.432zm-21.901-6.62c-.739 0-1.41.172-2.013.496V4.43a.44.44 0 00-.446-.43h-1.788v13.77h2.234v-4.303c0-1.076.895-1.936 2.013-1.936 1.117 0 2.01.86 2.01 1.936v4.239h2.234v-4.561l-.021-.043c-.202-2.088-2.012-3.723-4.223-3.723zm10.054 6.785c-1.475 0-2.681-1.12-2.681-2.525 0-1.383 1.206-2.524 2.681-2.524 1.476 0 2.682 1.12 2.682 2.524 0 1.405-1.206 2.525-2.682 2.525zm2.884-6.224v.603a4.786 4.786 0 00-2.985-1.035c-2.533 0-4.591 1.897-4.591 4.246 0 2.35 2.058 4.246 4.59 4.246 1.131 0 2.194-.388 2.986-1.035v.604c0 .237.203.431.453.431h1.356V9.508h-1.356c-.25 0-.453.173-.453.432z">
                        </path>
                    </svg>
                </i>
            </div>
            <div class="chat-box_extensions ">
                <div class="extension extension-zoom-out" style="visibility: visible;">
                    <i class="properties-msg size-extenstion">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="chat-icon">
                            <path
                                d="M14 1a1 1 0 011 1v12a1 1 0 01-1 1H9v-1h5V2H9V1h5zM2 13v1h1v1H2a1 1 0 01-.993-.883L1 14v-1h1zm6 1v1H4v-1h4zM2 3.999V12H1V3.999h1zm5.854 1.319l2.828 2.828a.5.5 0 010 .708l-2.828 2.828a.5.5 0 11-.708-.707L9.121 9H4.5a.5.5 0 010-1h4.621L7.146 6.025a.5.5 0 11.708-.707zM3 1v1H2v.999H1V2a1 1 0 01.883-.993L2 1h1zm5 0v1H4V1h4z">
                            </path>
                        </svg>
                    </i>
                </div>
                <div class="extension extension-zoom-in" style="visibility: hidden; margin-left: 0px;">
                    <i class="properties-msg size-extenstion">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="chat-icon rotate-icon">
                            <path
                                d="M14 1a1 1 0 011 1v12a1 1 0 01-1 1H9v-1h5V2H9V1h5zM2 13v1h1v1H2a1 1 0 01-.993-.883L1 14v-1h1zm6 1v1H4v-1h4zM2 3.999V12H1V3.999h1zm5.854 1.319l2.828 2.828a.5.5 0 010 .708l-2.828 2.828a.5.5 0 11-.708-.707L9.121 9H4.5a.5.5 0 010-1h4.621L7.146 6.025a.5.5 0 11.708-.707zM3 1v1H2v.999H1V2a1 1 0 01.883-.993L2 1h1zm5 0v1H4V1h4z">
                            </path>
                        </svg>
                    </i>
                </div>
                <div class="extension extension-close">
                    <i class="properties-msg size-extenstion">
                        <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="chat-icon">
                            <path
                                d="M14 1a1 1 0 011 1v12a1 1 0 01-1 1H2a1 1 0 01-1-1V2a1 1 0 011-1h12zm0 1H2v12h12V2zm-2.904 5.268l-2.828 2.828a.5.5 0 01-.707 0L4.732 7.268a.5.5 0 11.707-.707l2.475 2.475L10.39 6.56a.5.5 0 11.707.707z">
                            </path>
                        </svg>
                    </i>
                </div>
            </div>
        </div>
        <div class="chat-box_desc">
            <div class="chat-box_left">
                <div class="search-content">
                    <div class="shoppe-input default">
                        <div class="shoppe-input_inner default">
                            <div class="shoppe-input_inner-iconsearch default">
                                <i class="fa-solid fa-magnifying-glass item-search"></i>
                            </div>
                            <input type="text" placeholder=" Tìm Kiếm" class="shoppe-input_inner-search">
                        </div>
                    </div>
                    <div class="shoppe-all_msg">
                        <div class="dropdown-msg default">
                            <div class="show-status default">
                                Tất cả
                                <i class="fa-solid fa-angle-down item-show-status"></i>
                                <div class="wrrapper-sub_status">
                                    <div class="inner-sub_status">
                                        <div class="container-sub_status">
                                            <div class="content-sub_status">Tất cả</div>
                                            <div class="content-sub_status">Chưa đọc</div>
                                            <div class="content-sub_status">Đã ghim</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat-box_desc-content">
                    <div class="wrraper-content wrraper-content_prototype">
                        <div class="show-content_chat">Không tìm thấy hội thoại nào</div>
                    </div>
                </div>

            </div>
            <div class="chat-box_right default ">
                <div class="chat-box_right-inner default">
                    <i class="properties-msg width-svg">
                        <svg width="301" height="180" viewBox="0 0 301 180" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.5 162C4.5 160.895 5.39543 160 6.5 160H282.5C283.605 160 284.5 160.895 284.5 162C284.5 163.105 283.605 164 282.5 164H6.5C5.39543 164 4.5 163.105 4.5 162Z"
                                fill="#666666"></path>
                            <path
                                d="M69.6355 28.0653C70.1235 21.8195 75.3341 17 81.5991 17H239.627C246.585 17 252.085 22.9 251.597 29.8417L243.5 145H60.5L69.6355 28.0653Z"
                                fill="#B7B7B7"></path>
                            <path
                                d="M78.2114 33.6879C78.3743 31.6062 80.1111 30 82.1992 30H237.212C239.531 30 241.363 31.9648 241.202 34.2776L233.5 145H69.5L78.2114 33.6879Z"
                                fill="white"></path>
                            <path d="M56.5 148H243.5L243.171 149.973C242.207 155.759 237.201 160 231.334 160H56.5V148Z"
                                fill="#666666"></path>
                            <path
                                d="M27.5 150.4C27.5 149.075 28.5745 148 29.9 148H221.5C221.5 154.627 216.127 160 209.5 160H37.1C31.7981 160 27.5 155.702 27.5 150.4Z"
                                fill="#B7B7B7"></path>
                            <path
                                d="M96.5 148H152.5C152.5 151.866 149.366 155 145.5 155H103.5C99.634 155 96.5 151.866 96.5 148Z"
                                fill="#666666"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M98.0769 44C94.933 44 92.3223 46.4267 92.0929 49.5621L89.9709 78.5621C89.7165 82.039 92.4687 85 95.9549 85H176.923C180.067 85 182.677 82.5733 182.907 79.4379L185.029 50.4379C185.283 46.961 182.531 44 179.045 44H98.0769ZM103.5 59.5C103.5 58.6716 104.171 58 105 58H166C166.828 58 167.5 58.6716 167.5 59.5C167.5 60.3284 166.828 61 166 61H105C104.171 61 103.5 60.3284 103.5 59.5ZM102.5 69.5C102.5 68.6716 103.171 68 104 68H141C141.828 68 142.5 68.6716 142.5 69.5C142.5 70.3284 141.828 71 141 71H104C103.171 71 102.5 70.3284 102.5 69.5Z"
                                fill="#2673DD"></path>
                            <path
                                d="M90.5 98.5C90.5 97.6716 91.1716 97 92 97H167C167.828 97 168.5 97.6716 168.5 98.5C168.5 99.3284 167.828 100 167 100H92C91.1716 100 90.5 99.3284 90.5 98.5Z"
                                fill="#B7B7B7"></path>
                            <path
                                d="M89.5 108.5C89.5 107.672 90.1716 107 91 107H152C152.828 107 153.5 107.672 153.5 108.5C153.5 109.328 152.828 110 152 110H91C90.1716 110 89.5 109.328 89.5 108.5Z"
                                fill="#B7B7B7"></path>
                            <path
                                d="M90 117C89.1716 117 88.5 117.672 88.5 118.5C88.5 119.328 89.1716 120 90 120H118C118.828 120 119.5 119.328 119.5 118.5C119.5 117.672 118.828 117 118 117H90Z"
                                fill="#B7B7B7"></path>
                            <path
                                d="M202.239 80C198.129 80 194.688 83.1144 194.279 87.204L193.266 97.3377L184.954 100.455C184.273 100.71 184.084 101.584 184.598 102.098L192.045 109.545L190.879 121.204C190.408 125.913 194.107 130 198.839 130H264.614C268.785 130 272.256 126.796 272.589 122.638L275.309 88.638C275.681 83.983 272.004 80 267.334 80H202.239Z"
                                fill="#EE4D2D"></path>
                            <path
                                d="M218 104C218 106.209 216.209 108 214 108C211.791 108 210 106.209 210 104C210 101.791 211.791 100 214 100C216.209 100 218 101.791 218 104Z"
                                fill="white"></path>
                            <path
                                d="M235 104C235 106.209 233.209 108 231 108C228.791 108 227 106.209 227 104C227 101.791 228.791 100 231 100C233.209 100 235 101.791 235 104Z"
                                fill="white"></path>
                            <path
                                d="M249 108C251.209 108 253 106.209 253 104C253 101.791 251.209 100 249 100C246.791 100 245 101.791 245 104C245 106.209 246.791 108 249 108Z"
                                fill="white"></path>
                        </svg>
                    </i>

                    {{{ handleChatbox userKey chatBox}}}
                </div>
            </div>
        </div>
    </div>
</div>